<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mall.dao.CategoryMapper">

    <select id="queryC1" resultType="map">
        SELECT * FROM category1
    </select>

    <select id="queryC2" resultType="map">
        SELECT * FROM category2 WHERE ID IN (SELECT ID2 FROM relation_1_2_3 WHERE ID1 = #{id1})
    </select>
    <select id="queryC3" resultType="map">
        SELECT * FROM category3 WHERE ID IN (SELECT ID3 FROM relation_1_2_3 WHERE ID1 = #{arg0} AND ID2 = #{arg1})
    </select>


</mapper>