<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.commom.dao.AddressMapper">

    <insert id="doInsert" parameterType="address"  useGeneratedKeys="true" keyProperty="id">
      INSERT INTO address (name,addr,tel,mid,counts) VALUES (#{name},#{addr},#{tel},#{mid},1)
    </insert>


    <delete id="doDelete">
        DELETE FROM address WHERE id = #{arg0} AND mid = #{arg1}
    </delete>

    <update id="doupdate" parameterType="address">
        UPDATE address SET name=#{name} ,addr = #{addr} , tel = #{tel} ,flag = #{flag} WHERE id = #{id}
    </update>

    <update id="updateFlag">
        UPDATE address SET flag = 0 WHERE mid = #{arg0}
    </update>



</mapper>