<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.commom.dao.OrderMapper">

    <insert id="doInsert" parameterType="orders" useGeneratedKeys="true" keyProperty="id">
INSERT INTO orders(mid,TOT_MONEY,addr) VALUES (#{mid},#{tot_money},#{addr});
    </insert>

    <insert id="doInsertDetail" parameterType="orderDetail">
        INSERT INTO order_detail(pid,count,PRICE,oid) VALUES (#{pid},#{count},#{price},#{oid})
    </insert>

    <insert id="doAddBatch" parameterType="orderDetail">
        INSERT INTO order_detail(pid,count,PRICE,oid) VALUES

        <foreach collection="list" item="orderDetail" separator=",">
            (#{orderDetail.pid},#{orderDetail.count},#{orderDetail.price},#{orderDetail.oid})
        </foreach>
    </insert>

    <update id="setPayTime">
       UPDATE orders SET  PAY_TIME = now() WHERE id = #{oderid}
    </update>

    <select id="queryNoPay1" resultType="map">
        SELECT * FROM orders WHERE mid = #{id} AND PAY_TIME is NULL AND FLAG = 0
    </select>
    <select id="queryNoPay11" resultType="map">
        SELECT * FROM orders WHERE  PAY_TIME is NULL AND FLAG = 0
    </select>

    <select id="queryNoPay2" resultType="map">
        SELECT * FROM order_detail ,product WHERE product.ID = order_detail.pid AND order_detail.oid =#{id}
    </select>

    <select id="query" resultType="map">
        SELECT * FROM order_detail ,product WHERE product.ID = order_detail.pid AND order_detail.oid =#{id} AND order_detail.cid IS NULL
    </select>
    <select id="queryHavePay1" resultType="map">
        SELECT * FROM orders WHERE mid = #{arg0} AND PAY_TIME is NOT NULL AND orders.SEND_TIME IS null AND FLAG = 0
    </select>
    <select id="queryHavePay11" resultType="map">
        SELECT * FROM orders WHERE PAY_TIME is NOT NULL AND orders.SEND_TIME IS null AND FLAG = 0
    </select>

    <select id="queryqueryHavePay111" resultType="map">
        SELECT * FROM orders WHERE PAY_TIME is NOT NULL AND orders.SEND_TIME IS null AND FLAG = 0 AND remind != 0
    </select>

    <select id="querySend1" resultType="map">
        SELECT * FROM orders WHERE mid = #{arg0} AND CONFIRM_TIME is NULL AND orders.SEND_TIME IS NOT null AND FLAG = 0
    </select>
    <select id="querySend11" resultType="map">
        SELECT * FROM orders WHERE CONFIRM_TIME is NULL AND orders.SEND_TIME IS NOT null AND FLAG = 0
    </select>

    <select id="queryNoConfirm1" resultType="map">
       SELECT * FROM orders WHERE mid = #{arg0} AND CONFIRM_TIME is NOT NULL AND orders.succ = 0 AND FLAG = 0
    </select>
    <select id="queryNoConfirm11" resultType="map">
       SELECT * FROM orders WHERE CONFIRM_TIME is NOT NULL AND orders.succ = 0 AND FLAG = 0
    </select>

    <select id="querySuccess1" resultType="map">
       SELECT * FROM orders WHERE mid = #{arg0} AND succ = 1  AND FLAG = 0
    </select>

    <select id="querySuccess11" resultType="map">
       SELECT * FROM orders WHERE  succ = 1  AND FLAG = 0
    </select>

    <update id="delO2">
        UPDATE orders SET FLAG = 1 WHERE id = #{arg0}
    </update>


    <update id="doRemind">
        UPDATE orders SET remind = remind+1  WHERE id = #{arg0}
    </update>

    <update id="doPay">
        UPDATE orders SET pay_time = now()  WHERE id = #{arg0}
    </update>
    <update id="order_confirm">
        UPDATE orders SET confirm_time = now()  WHERE id = #{arg0}
    </update>

    <insert id="doInsertComm" parameterType="Comment"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment(grade, describes, create_time, pid,mid) VALUES(#{grade}, #{describes}, now(), #{pid},#{mid})
    </insert>

    <update id="doUpdateOderDetail">
        UPDATE order_detail SET cid = #{arg1} WHERE id = #{arg0}
    </update>

    <update id="setSucc">
        UPDATE orders SET succ = 1 WHERE id = #{arg0}
    </update>

    <select id="selectAddr" resultType="address">
        SELECT * FROM address WHERE mid = #{arg0}
    </select>

    <select id="selectComm" resultType="map">
       SELECT  * FROM comment,product WHERE comment.pid = product.id AND mid = #{arg0} AND del = 1
    </select>

    <select id="queryAddress" resultType="address">
        SELECT * FROM address WHERE mid = #{arg0} AND  flag = 1
    </select>

    <select id="queryAddressList" resultType="address">
        SELECT * FROM address WHERE mid = #{arg0}
    </select>

    <update id="updateAddr" >
UPDATE address SET name=#{arg1.name},addr=#{arg1.addr},tel=#{arg1.tel},mid = #{arg1.mid},counts = 1  WHERE id =(SELECT id FROM  (select id from address WHERE mid = #{arg0} order by counts ASC LIMIT 0,1 ) temp );

    </update>

    <select id="queryAddress1"  resultType="address">
        SELECT * FROM address WHERE addr = #{arg1.addr} AND tel = #{arg1.tel} AND name=#{arg1.name} AND mid = #{arg0}
    </select>


    <select id="queryAllComm" resultType="map">
        SELECT *,product.id productId,product.name pname , comment.id commId FROM member,comment,product WHERE member.ID= comment.mid AND product.id = comment.pid AND del = 1
    </select>

    <update id="comment_del">
        UPDATE comment SET del = 0 WHERE id = #{arg0}
    </update>

    <update id="setCommentF">
         UPDATE comment SET f = #{arg1} WHERE id = #{arg0} AND del = 1
    </update>

    <update id="setF">
        UPDATE comment SET f = 0 WHERE  del = 1
    </update>
    <update id="serDataDel">
        UPDATE comment SET del = 0 WHERE f = 1
    </update>

    <select id="queryComm" resultType="map">
        select * from comment WHERE id = #{arg0}
    </select>

    <update id="updateOrderSendTime">
        UPDATE orders SET send_time = now() WHERE id = #{arg0}
    </update>

    <update id="setRemind">
        UPDATE orders SET remind = 0
    </update>

</mapper>