<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.commom.dao.ProductMapper">

    <select id="queryByCategory" resultType="product">
        SELECT * FROM product WHERE ID IN (SELECT pid FROM RELATION_1_2_3 WHERE  ID1=#{arg0} AND ID2= #{arg1} AND ID3=#{arg2} )
    </select>

    <select id="queryAll" resultType="product">
        SELECT * FROM product WHERE status = 1
    </select>

    <select id="queryCupCake" resultType="product">
       SELECT * FROM product WHERE ID IN (SELECT pid FROM RELATION_1_2_3 WHERE ID1 = 3);
    </select>

    <select id="queryById" resultType="product">
        SELECT * FROM product WHERE ID = #{id}
    </select>

    <select id="querySearch" resultType="product">
        SELECT * FROM product WHERE NAME LIKE CONCAT('%',#{search},'%') or comm LIKE CONCAT('%',#{search},'%')
    </select>
    <select id="queryLimit" resultType="product">
        SELECT * FROM product limit #{start},18
    </select>

    <select id="queryNew" resultType="product">
                SELECT * FROM (SELECT @rowno:=@rowno+1 as rowno,r.* from (SELECT id, NAME,PRICE,IMGS FROM product ORDER BY TIME DESC) r,(select @rowno:=0) t) temp WHERE temp.rowno &gt;2 AND temp.rowno &lt;=10
    </select>
    <select id="query1" resultType="product">
        SELECT * FROM (SELECT @rowno:=@rowno+1 as rowno,r.* from (SELECT id, NAME,PRICE,IMGS FROM product ORDER BY TIME DESC) r,(select @rowno:=0) t) temp WHERE temp.rowno = 1
    </select>

    <select id="query2" resultType="product">
        SELECT * FROM (SELECT @rowno:=@rowno+1 as rowno,r.* from (SELECT id, NAME,PRICE,IMGS FROM product ORDER BY TIME DESC) r,(select @rowno:=0) t) temp WHERE temp.rowno =2
    </select>

    <select id="queryOrder1" resultType="product">
        SELECT * FROM product ORDER BY sale DESC
    </select>

    <select id="queryOrder2" resultType="product">
        SELECT * FROM product ORDER BY price
    </select>

    <select id="queryOrder3" resultType="product">
SELECT * FROM product  LEFT JOIN comment  ON product.id  = comment.pid GROUP BY name ORDER BY comment.grade DESC

    </select>

    <select id="queryComm" resultType="map">
        SELECT * FROM product,comment,member WHERE product.id = comment.pid AND pid = #{arg0} AND member.ID = comment.mid AND del = 1
    </select>

<select id="querySame" resultType="product">
    SELECT * FROM product WHERE status = 1
</select>


    <select id="query" parameterType="map" resultType="product">
        SELECT * FROM product  WHERE 1=1
        <if test="id1 != null &amp; id2 != null &amp; id3 != null ">
            AND ID IN (SELECT pid FROM RELATION_1_2_3 WHERE  ID1=#{id1} AND ID2= #{id2} AND ID3=#{id3} )
        </if>
        <if test="id1 != null &amp; id2 == null &amp; id3 == null ">
            AND ID IN (SELECT pid FROM RELATION_1_2_3 WHERE ID1 = 3)
        </if>
        <if test=" search != null">
            AND NAME LIKE CONCAT('%',#{search},'%') or comm LIKE CONCAT('%',#{search},'%')
        </if>
        <if test=" value != null">
            <if test="value == 1 "> ORDER BY sale DESC </if>
            <if test="value == 2 "> ORDER BY price </if>
        </if>
        limit #{start},18

    </select>

    <select id="queryCount" parameterType="map" resultType="int">
        SELECT COUNT(id) FROM product  WHERE 1=1 AND useable = 1 AND status = 1
        <if test="id1 != null &amp; id2 != null &amp; id3 != null ">
            AND ID IN (SELECT pid FROM RELATION_1_2_3 WHERE  ID1=#{id1} AND ID2= #{id2} AND ID3=#{id3} )
        </if>
        <if test="id1 != null &amp; id2 == null &amp; id3 == null ">
            AND ID IN (SELECT pid FROM RELATION_1_2_3 WHERE ID1 = 3)
        </if>
        <if test=" search != null">
            AND NAME LIKE CONCAT('%',#{search},'%') or comm LIKE CONCAT('%',#{search},'%')
        </if>
        <if test=" value != null">
            <if test="value == 1 "> ORDER BY sale DESC </if>
            <if test="value == 2 "> ORDER BY price </if>
        </if>

    </select>

    <update id="doUpdateStop">
        UPDATE product SET  useable = #{arg0} WHERE id = #{arg1}
    </update>

    <insert id="doInsertProduct" parameterType="product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(name, comm, price, stock, time, imgs, pre_price) VALUES (#{name}, #{comm}, #{price}, #{stock}, now(), #{imgs}, #{pre_price})
    </insert>

    <update id="product_del" >
        UPDATE product SET status = 0 WHERE id  = #{arg0}
    </update>
</mapper>