<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.commom.dao.RoleMapper">


<select id="queryAllRole" resultType="map">
    SELECT * FROM role
</select>

    <select id="queryRoleofUser" resultType="map">
SELECT username FROM role,user,user_role WHERE role.dbid = user_role.roleId AND user.dbid=user_role.userId AND roleId = #{arg0}</select>

</mapper>